.contenedor-encabezado{
    height: 133px;
    width: 100%;
    margin: 0;
}

.franja{
    height: 38px;
    width: 100%;
    background-color:black;
}

.logo-header{
    height: 71px;
    width: 62px;
}


.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 5px;
    border-bottom: solid 1px;
    border-color: lightgrey;
}

nav li{
    display: inline;
    margin: 0 15px;
}

.mainInfo-homepage{
    width: 100%;
    height: 436px;
    display: flex;
    padding: 100px 0px;
}
.contenedor-eslogan{
    width: 557px;
    height: 110px;
    border-style: double;
    text-align: center;
    padding-top: 70px;
}
.imagenHomepage{
    margin-left: 50px;
    padding-top: 20px;
}

.imagen-ventas{
    width: 90%;
    padding-top: 50px;
}
.boton-comprarAhora{
    width: 210px;
    height: 52px;
    border-radius: 20px;
    background-color: black;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    outline: none;
}

.contenedor-imagenVentas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.franja-marcas{
    height: 122px;
    width: 100%;
    margin: 0;
    background-color: black;
}

.lista-horizontal{
    display: flex;
    padding: 40px 0;
}

.lista-horizontal li{
    margin: 0 120px;
}

.titulo{
    font-size: 50PX; 
    font-weight: bold;
    text-align: center;
    padding: 40px 0;
}

.seccion-libros{
    height: 600px;
    width: 100%;
    border-bottom: solid 1px;
    border-color: lightgrey;
}

.contenedor-footer{
    height: 250px;
    width: 100%;
    background-color: #F0F0F0;
    justify-content: center;
}

.info-footer{
    height: 150px;
    width: 85%;
    margin-top: 25px;
    border-bottom: solid 1px;
    border-color: grey;
}

.listaInfo-footer{
    display: flex;
    padding: 40px 0;
}

.listaInfo-footer li{
    margin: 0 120px;
}

.logo-footer{
    width: 90px;
    height: 90px;
}

.metodosDePago-footer{
    height: 100px;
    width: 100%;
    display: flex;
}

.metodosDePago-footer img{
    margin-left: auto;
    margin-right: 200px;
    height: 50px;
    padding-top: 20px;
}

.titulo-footer{
    font-size: 16;
    padding-bottom: 20px;
}

/*
Aqui empiezan los estilos del registro
*/

.logo-registro{
    width: 120px;
    height: 140px;
}

.contenedor-registro{
    width: 350px;
    height: auto;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 30px;
}

.encabezado-centrado{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.contenido-form{
    padding-top: 30px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 300px;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.titulo-carrito{
    font-size: 50PX; 
    font-weight: bold;
    padding: 50px 30px;
    display: block;
}

.contenedor-carrito{
    width: 80%;
    height: auto;
    display: flex;
    margin: 0 auto;
    padding-bottom: 100px;
}

.productos{
    width: 50%;
    display: inline;
    height: 500px;
    margin-right: 10px;
    border-radius: 20px;
    border: solid 1px;
    border-color: lightgray;
}

.productos-contenido{
    display: block;
    width: 80%;
    height: 40%;
    padding: 20px 24px;
    border-bottom: solid 1px;
    border-color: lightgray;
    margin: 0 auto;
}

.productos-contenido h3{
    font-weight: bold;
}

.detalles{
    display: flex;
}

.productos-imagen{
    width: 124px;
    height: 95%;
    display: inline;
}

.texto-orden{
    font-size: 20px;
    font-weight: bold;
}

.boton-promo{
    height: 40px;
    width: 270px;
    margin-right: 12px;
    background: #F0F0F0;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 62px;
}

.boton-aplicar{
    width: 100px;
    background: #000000;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 62px;
}

.boton-checkout{
    width: 382px;
    height: 40px;
    background: #000000;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 62px;
}

a:visited, a:hover, a:focus {
    text-decoration: none;
    color: #000;
}

nav a:hover{
    color: #F0F0F0;
    text-decoration: none;

}

/* empieza lo del checkout*/
.contenedor-total{
    width: 600px;
    height: 108px;
    display: flex;
    align-items: center;
}

.monto-total{
    padding-top: 20px;
    height: 100px;
    width: 228px;
    margin-left: 400px;
    display: block;
}

.metodos-de-pago{
    padding: 20px 0;
    display: flex;
}
.metodos-de-pago input[type=radio] {
    margin: 0px 5px 0px 15px;
}

input[type='radio'] {
    accent-color: #232323;
}
.metodos-de-pago img{
    display: inline-block;
    vertical-align: middle;
}
.metodos-de-pago input{
    display: inline-block;
    vertical-align: middle;
}

.form-tarjeta{
    margin: 0 auto;
    width: 80%;
}

.form-tarjeta label{
    font-size: 16px;
    color: gray;
}

.form-tarjeta input[type=text]{
    border: none;
    border-bottom: solid 1px;
    width: 70%;
    margin-bottom: 10px;
}

.form-tarjeta select{
    border: none;
    border-bottom: solid 1px;
    color: grey;
    border-color: black;
}

.boton-realizarPedido{
    width: 90%;
    height: 40px;
    background: #000000;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 62px;
    margin-top: 30px;
}

/*Estilos utilizados para categorias y estadisticas*/
.Categorias{
    font-size: 50px;
    font-weight: bold;
    font-style:italic;
}

.Librosmas{
    font-size: 50px;
    font-weight: bold;
    font-style:italic;
    text-align: center;
}

main {
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.librosdis{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.libro-imagen{
    max-width: 100%;
    border-radius: 1rem;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 6fr;
}

aside{
    padding: 2rem;
    position: sticky;
    top: 0;
}

.boton-categoria{
    font-size: 1rem;
}

.categoria-size{
    font-size: 2rem;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.librosdis2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

/*Aqui esta la que se ocupa para que se vean las imagenes del homepage al igual que librodis la cual 
fue rerciclada en el de categorias y el de estadisticas*/
.libro-imagen2{
    max-width: 50%;
    border-radius: 1rem;
}
/*Necesario para perfil*/
.entrada-perfil{
    border: none;
    border-bottom: solid 1px;
    margin-bottom: 20px;
    padding-top: 1rem;
}
/*parte moy*/
.Galeria{
    width: 247px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 192px;
    left: 620px;
    font-family: Allerta;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}

.main {
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.img1{
    width: 185px;
    height: 268px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 285px;
    left: 648px;
    overflow: hidden;
}

.img2 {
    width: 185px;
    height: 268px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 285px;
    left: 884px;
    overflow: hidden;
}

.img3 {
    width: 185px;
    height: 268px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 285px;
    left: 1120px;
    overflow: hidden;
}

.img5 {
    width: 185px;
    height: 268px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 587px;
    left: 884px;
    overflow: hidden;
}

.img6 {
    width: 185px;
    height: 268px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 587px;
    left: 1120px;
    overflow: hidden;
}
.img4 {
    width: 185px;
    height: 268px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 587px;
    left: 648px;
    overflow: hidden;
}
 
/*Boton para "agregar" las imagenes*/
.BImagen{
    width: 190px;
    height: 53px;
    padding: 15px 0px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 165px;
    left: 1120px;
    color: white;
    background: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}

.BImagen:hover{
    background: rgb(63, 63, 63);
    transform: scale(1.2);
}

.Agregar_Producto{
    width: 100%;
    padding: 15px 0px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}

.Agregar_Producto:hover{
    background: rgb(63, 63, 63);
    transform: scale(1.2);
}
