body{
    font-family: 'Montserrat', sans-serif;
}

.contenedor-encabezado{
    height: 133px;
    width: 100%;
    margin: 0;
}

.franja{
    height: 38px;
    width: 100%;
    background-color:black;
}

.logo-header{
    height: 71px;
    width: 62px;
}

.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 5px;
    border-bottom: solid 1px;
    border-color: lightgrey;
}

nav li{
    display: inline;
    margin: 0 15px;
}
nav{
    position: absolute;
    top: -10px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

/*Esto de aqui no se para que sirve xd*/
nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}

.secundario{
    width: 940px;
    margin: auto;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.IniSes{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.IniSes:hover{
    background: rgb(63, 63, 63);
    transform: scale(1.2);
}

.ImagenUsers{
    width: 10%;
    height: auto;
    display: block;
    align-items: center;
}

.Titulo{
    font-size: 50px;
    font-weight: bold;
    font-style:italic;
}

.TamUser{
    width: 235px;
    height: 218px;
    align-items: center;
}

.contenedor-footer{
    height: 250px;
    width: 100%;
    background-color: #F0F0F0;
    justify-content: center;
}

.info-footer{
    height: 150px;
    width: 85%;
    margin-top: 25px;
    border-bottom: solid 1px;
    border-color: grey;
}

.listaInfo-footer{
    display: flex;
    padding: 40px 0;
}

.listaInfo-footer li{
    margin: 0 120px;
}

.logo-footer{
    width: 90px;
    height: 90px;
}

.metodosDePago-footer{
    height: 100px;
    width: 100%;
    display: flex;
}

.metodosDePago-footer img{
    margin-left: auto;
    margin-right: 200px;
    height: 50px;
    padding-top: 20px;
}

.titulo-footer{
    font-size: 16;
    padding-bottom: 20px;
}
